@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/variable.scss';

.email-chips {
  background: $white;
  border: 1px solid $border-grey;
  border-radius: 0.15rem;
  margin-bottom: 30px;
  .chips-container {
    padding: 4px;
  }
  input {
    width: 100% !important;
    border: none !important;
  }
  .form-input__input-field {
    margin-bottom: 0;
  }
  .error-box-wrap {
    position: relative;
    .error-box-message {
      position: absolute;
      top: 4px;
      left: -2px;
    }
  }
  .tag-item {
    color: $input-text;
    background-color: $white;
    font-size: 0.75rem;
    border: 1px solid $gainsboro;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0.25rem 0.25rem 0.25rem 0;
    max-width: 100%;
    overflow: hidden;
    .chip-text{
      width: calc(100% - 22px);
      @include ellipsis;
    }
    button {
      color: $input-text;
    }
  }

  .tag-item > .button {
    @include vertical-align;
    background-color: $white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    // margin-left: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0;
    line-height: 1;
  }
  .default-domain {
    width : 100% !important;
    padding-right: 0.5rem;
  }
}
