/* ----- font-family Helvetica ---------- */
@font-face {
  font-family: 'HelveticaNeue-Th';
  src: url('../font-family/Thin/HelveticaNeueThin.eot'),
    url('../font-family/Thin/HelveticaNeueThin.woff2') format('woff2'),
    url('../font-family/Thin/HelveticaNeueThin.woff') format('woff'),
    url('../font-family/Thin/HelveticaNeueThin.ttf') format('truetype'),
    url('../font-family/Thin/HelveticaNeueThin.svg#HelveticaNeueThin')
      format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Th-I';
  src: url('../font-family/Italic/HelveticaNeueItalic.eot'),
    url('../font-family/Italic/HelveticaNeueItalic.woff') format('woff'),
    url('../font-family/Italic/HelveticaNeueItalic.woff2') format('woff2'),
    url('../font-family/Italic/HelveticaNeueItalic.ttf') format('truetype'),
    url('../font-family/Italic/HelveticaNeueItalic.svg#HelveticaNeueItalic')
      format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue-Rg';
  src: url('../font-family/Regular/HelveticaNeueRegular.eot'),
    url('../font-family/Regular/HelveticaNeueRegular.woff') format('woff'),
    url('../font-family/Regular/HelveticaNeueRegular.woff2') format('woff2'),
    url('../font-family/Regular/HelveticaNeueRegular.ttf') format('truetype'),
    url('../font-family/Regular/HelveticaNeueRegular.svg#HelveticaNeueRegular')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Rg2';
  src: url('../font-family/Regular/HelveticaNeueRegular2.eot'),
    url('../font-family/Regular/HelveticaNeueRegular2.woff') format('woff'),
    url('../font-family/Regular/HelveticaNeueRegular2.woff2') format('woff2'),
    url('../font-family/Regular/HelveticaNeueRegular2.ttf') format('truetype'),
    url('../font-family/Regular/HelveticaNeueRegular2.svg#HelveticaNeueRegular')
      format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bl';
  src: url('../font-family/BlackCondensed/HelveticaNeueBlackCond.eot'),
    url('../font-family/BlackCondensed/HelveticaNeueBlackCond.woff2')
      format('woff2'),
    url('../font-family/BlackCondensed/HelveticaNeueBlackCond.woff')
      format('woff'),
    url('../font-family/BlackCondensed/HelveticaNeueBlackCond.ttf')
      format('truetype'),
    url('../font-family/BlackCondensed/HelveticaNeueBlackCond.svg#HelveticaNeueBlackCond')
      format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bd';
  src: url('../font-family/Bold/HelveticaNeueBold.eot')
      url('../font-family/Bold/HelveticaNeueBold.woff2') format('woff2'),
    url('../font-family/Bold/HelveticaNeueBold.woff') format('woff'),
    url('../font-family/Bold/HelveticaNeueBold.ttf') format('truetype'),
    url('../font-family/Bold/HelveticaNeueBold.svg#HelveticaNeueBold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Hv';
  src: url('../font-family/Heavy/HelveticaNeueHeavy.eot'),
    url('../font-family/Heavy/HelveticaNeueHeavy.woff2') format('woff2'),
    url('../font-family/Heavy/HelveticaNeueHeavy.woff') format('woff'),
    url('../font-family/Heavy/HelveticaNeueHeavy.ttf') format('truetype'),
    url('../font-family/Heavy/HelveticaNeueHeavy.svg#HelveticaNeueHeavy')
      format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Lt';
  src: url('../font-family/Light/HelveticaNeueLight.eot'),
    url('../font-family/Light/HelveticaNeueLight.woff2') format('woff2'),
    url('../font-family/Light/HelveticaNeueLight.woff') format('woff'),
    url('../font-family/Light/HelveticaNeueLight.ttf') format('truetype'),
    url('../font-family/Light/HelveticaNeueLight.svg#HelveticaNeueLight')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bd-1';
  src: url('../font-family/Bold/HelveticaNeueBold_1.eot')
      url('../font-family/Bold/HelveticaNeueBold_1.woff2') format('woff2'),
    url('../font-family/Bold/HelveticaNeueBold_1.woff') format('woff'),
    url('../font-family/Bold/HelveticaNeueBold_1.ttf') format('truetype'),
    url('../font-family/Bold/HelveticaNeueBold_1.svg#HelveticaNeueBold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('../font-family/Roman/helveticaneue-roman-webfont.eot'),
    url('../font-family/Roman/helveticaneue-roman-webfont.woff2')
      format('woff2'),
    url('../font-family/Roman/helveticaneue-roman-webfont.woff') format('woff'),
    url('../font-family/Roman/helveticaneue-roman-webfont.ttf')
      format('truetype'),
    url('../font-family/Roman/helveticaneue-roman-webfont.svg#helvetica_neueregular')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Md';
  src: url('../font-family/Medium/HelveticaNeue-Medium.eot'),
    url('../font-family/Medium/HelveticaNeue-Medium.woff2') format('woff2'),
    url('../font-family/Medium/HelveticaNeue-Medium.woff') format('woff'),
    url('../font-family/Medium/HelveticaNeue-Medium.ttf') format('truetype'),
    url('../font-family/Medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium')
      format('svg');
  font-weight: 400;
  font-style: normal;
}
/*-----------------------------------------------------------------------------------------------*/

// Telus fonts

@font-face {
  font-family: 'Telus-Web-Lt';
  src: url('../fonts/Telus-Web-Lt.eot');
  src: url('../fonts/Telus-Web-Lt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Telus-Web-Lt.woff2') format('woff2'),
    url('../fonts/Telus-Web-Lt.woff') format('woff'),
    url('../fonts/Telus-Web-Lt.ttf') format('truetype');
}

@font-face {
  font-family: 'Telus-Web-Reg';
  src: url('../fonts/Telus-Web-Reg.eot');
  src: url('../fonts/Telus-Web-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Telus-Web-Reg.woff2') format('woff2'),
    url('../fonts/Telus-Web-Reg.woff') format('woff'),
    url('../fonts/Telus-Web-Reg.ttf') format('truetype');
}

@font-face {
  font-family: 'Telus-Web-Med';
  src: url('../fonts/Telus-Web-Med.eot');
  src: url('../fonts/Telus-Web-Med.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Telus-Web-Med.woff2') format('woff2'),
    url('../fonts/Telus-Web-Med.woff') format('woff'),
    url('../fonts/Telus-Web-Med.ttf') format('truetype');
}
