@font-face {
  font-family: 'Telus-Web-Lt';
  src: url('../fonts/Telus-Web-Lt.eot');
  src: url('../fonts/Telus-Web-Lt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Telus-Web-Lt.woff2') format('woff2'),
    url('../fonts/Telus-Web-Lt.woff') format('woff'),
    url('../fonts/Telus-Web-Lt.ttf') format('truetype');
}

@font-face {
  font-family: 'Telus-Web-Reg';
  src: url('../fonts/Telus-Web-Reg.eot');
  src: url('../fonts/Telus-Web-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Telus-Web-Reg.woff2') format('woff2'),
    url('../fonts/Telus-Web-Reg.woff') format('woff'),
    url('../fonts/Telus-Web-Reg.ttf') format('truetype');
}

@font-face {
  font-family: 'Telus-Web-Med';
  src: url('../fonts/Telus-Web-Med.eot');
  src: url('../fonts/Telus-Web-Med.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Telus-Web-Med.woff2') format('woff2'),
    url('../fonts/Telus-Web-Med.woff') format('woff'),
    url('../fonts/Telus-Web-Med.ttf') format('truetype');
}
