$white: #ffffff;
$white1: #fbfdee;
$white2: #f1f1f1;
$white3: #f6f6f6;
$white-gradient1: #fefeff;
$white-gradient2: #ebf0f2;
$black: #000000;
$black-shade: #00000566;
$bg-color: #fafafa;
$label-black: #2a2c2e;
$label: #71757b;
$input-text: #495057;
$input-text-2: #333333;
$header-gray: #7f7d7a;
$gray: #eee;
$table-header-gray: #54595f;
$breadcrum-gray: #f7f7f7;
$border-grey: #ced4da;
$background-grey: #f7f7f8;
$border-grey2:#809099;
$raven-gray: #71757b;
$header-circle: #a9a6ab;
$placeholder: #6c757d;
$shade: #ececec;
$gainsboro: #d8d8d8;
$gray-2: #979797;
$gray-3: #ebebe4;
$search-edge: #f2eff4;
$grp-item-black: #24870017;
$error-text: #c12335;
$btn-base: #2b8000;
$btn-border: #177a00;
$calender-green: #248700;
$telus-green: #66cc00;
$green-1: #008b00;
$green-2: #008300;
$focus-color: #8b54c0;
$grayish-blue: #495057;
$blue:#4A7FED;
$orange:#FF6226;
$purple: #4b286d;
$analytics-red: #eb5d5d;
$pink1: #fff6f8;
$yellow1: #fff9ee;
$border-yellow: #FCD800;
$paginationactivegreen: #e1f6d9;
$rajah: #faca69;
$successRowHighlight: #e1f6d9;
$warningRowHighlight: #fff9ee;
$scrollbar-white: #f5f5f5;
$cyan: #00AAC5;
$magenta:#FF5171;
$live-block-bg: #f2eff4;
$analytics-green: #6ce9a2;
$bg-light-green: #F4F9F2;
$policy-url: #0883F7;

$label-reg: 14px;
$cmn-ip-ht: 40px;
$cmn-btn-ht: 44px;

$font-telus-bold: 'Telus-Web-Med', sans-serif;
$font-telus-regular: 'Telus-Web-Reg', sans-serif;
$font-telus-light: 'Telus-Web-Lt', sans-serif;

$font-bold-letter-spacing: normal;
$mob-letter-spacing-bold: -0.4px;
$font-regular-letter-spacing: -0.2px;
$font-light-letter-spacing: -0.6px;

:export {
  primaryGreen: $btn-base;
  successRowHighlight: $successRowHighlight;
  warningRowHighlight: $warningRowHighlight;
  failedRowHighlight: $pink1;
  checkboxGreen: $calender-green;
  black: $black;
  errorTextRed: $error-text;
  analyticsRed: $analytics-red;
  rajah: $rajah;
  analyticsGreen: $analytics-green;
}
