@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/variable.scss';

.report-btn-container {
  font-size: 0.8rem;
  .export-as {
    font-size: 0.8rem;
		@include fontWeightBold;
    display: flex;
    .title {
      white-space: nowrap;
      margin: 0 5px;
    }
  }
  .download-icon {
    border-color: $gainsboro;
    color: $gainsboro;
    background-color: $white;
    padding: 11px 11px;
  }
  .dropdown-menu-report {
    min-width: 7.8rem;
    position: absolute;
    background-color: $white;
    z-index: 99999;
    margin-top: 1px;
    border: 1px solid $gainsboro;
    border-radius: 3px;

    .dropdown-item {
      padding: 0.25rem 1rem;
      text-align: left !important;
      cursor: pointer;
      &:active {
        background-color: $white;
        color: $label-black;
      }
    }
  }
}
