@import '../../../assets/scss/variable.scss';
@import '../../../assets/scss/mixin.scss';

.label-count {
  @include flexValue(space-between);
  @include fontWeightRegular;
  width: 100%;
  &__title {
    display: flex;
    color: $raven-gray;
    flex-grow: 1;
    img {
      @include align-center;
      margin-left: 0.25rem;
      margin-top: 0.225rem;
    }
  }
  &__count {
    color: $label-black;
    font-size: 1rem;
  }
}
