@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variable.scss';
@import '~video-react/styles/scss/video-react';

.user-captures {
  .page-heading-section {
    .page-heading {
      h4 {
        margin: 0;
      }
      h6 {
        margin-bottom: 0px;
        span {
          color: $raven-gray;
          font-size: 12px;
          @include fontWeightRegular;
          line-height: 1.5rem;
        }
      }
    }
  }
  &.popup-container {
    .title h4 {
      font-size: 1.2rem;
    }
  }
  .failed-success-container {
    display: flex;
    @include fontWeightRegular;
    .failed-captures {
      border-radius: 5px 0 0 5px;
      font-size: 14px;
    }
    .success-captures {
      border-radius: 0px 5px 5px 0px;
      font-size: 14px;
    }
    .selected {
      background-color: $btn-base;
      color: $white;
    }
  }
}

.view-image-container {
  width: 100%;
  flex-direction: column;
  @include vertical-align;
  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: calc(100vh - 170px);
    }
  }
  .retain-button-wrapper {
    font-size: 0.875rem;
  }
}

@media (max-width: 900px) {
  .user-captures {
    .page-heading-section {
      .mobile-hide-title {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .user-captures {
    .page-heading-section {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1040px) {
  .shift {
    .page-heading-section {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 575px) {
  .shift {
    .page-heading-section {
      .page-heading{
        h4{
          width: 85%;
          white-space: break-spaces;
        }
      }
      .page-heading-actions {
        flex-wrap: wrap;
        .manage-users-filter{
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .shift {
    .page-heading-section {
      .page-heading-actions {
        .failed-success-container{
          margin-top: 0.5rem;
        }
      }
    }
  }
}