@import 'assets/scss/variable.scss';
@import '../../../assets/scss/mixin.scss';

.range-picker-wrapper {
  position: relative;
  display: flex;
  background-color: $white;
  .active {
    border: 1px solid $calender-green !important;
  }
  .date-range-input {
    @include fontWeightRegular;
    height: 38px;
    border: 1px solid $border-grey;
    border-radius: 4px;
    background: transparent;
    padding: 0 10px;
    padding-right: 36px;
    font-size: 14px;
    text-align: center;
    outline: none;
    cursor: pointer;
    z-index: 1;
    min-width: 244px;
  }
  .input-wrapper{
    z-index: 111;
  }
  .calendar-icon {
    position: absolute;
    right: 0;
    height: 100%;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.icon-input {
    background-color: transparent;
    .date-range-input {
      min-width: auto;
      max-width: 36px;
      padding: 0;
      padding-right: 35px;
    }
  }
}

.daterangepicker {
  z-index: 9003;
  @include fontWeightRegular;
  max-height: 320px;
  overflow: auto;
  margin-top: 0;
  .applyBtn {
    background-color: $white;
    color: $calender-green;
    border-color: $calender-green;
    text-transform: uppercase;
    min-width: 71px;
    &:active,
    &:hover {
      background-color: $calender-green !important;
      color: $white !important;
      border-color: $calender-green !important;
    }
  }
  .cancelBtn {
    display: none;
  }
  .calendar-time{
    display: none;
  }
  @mixin calendar-active {
    border-radius: 4px;
    background: $calender-green;
    color: $white;
  }
  .calendar-table {
    thead {
      border-bottom: 1px solid $gainsboro;
      display: table-caption;
      margin-bottom: 13px;
    }
    .in-range {
      background: rgba(36, 135, 0, 0.17);
    }
    .start-date,
    .end-date {
      @include calendar-active;
      &:hover {
        @include calendar-active;
      }
    }
  }
  .ranges li {
    font-size: 12px;
    // &:hover
    &.active {
      color: $calender-green;
      background-color: $white;
    }
  }
  // th{
  //   &.month{
  //     color: #4B286D;
  //     font-size: 16px;
  //   }
  // }

  .drp-buttons {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    span {
      white-space: nowrap;
    }
    .btns-wrapper{
      margin: .5rem .2rem;
    }
    .time-picker-container {
      margin: 5px;
    }
    .time-section-wrapper {
      // text-align: left;
      display: flex;
      .time-input-wrapper{
        display: flex;
      }
    }
  }
}
// /* Mozilla+ CSS styles go here */
@-moz-document url-prefix() {
  .daterangepicker {
    max-height: none !important;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  border-color: $calender-green !important;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  input.date-range-input {
    cursor: auto;
  }
}

.table-action-calender {
  height: 20px;
  width: 20px;
  input.date-range-input {
    max-width: 20px;
    padding: 0;
    padding-right: 20px;
    height: auto;
    border: none !important;
  }
  .calendar-icon {
    width: 20px;
  }
}

@media (max-width: 563px) {
  .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    width: 37px !important;
  }
}