@import '../../../../../assets/scss/mixin.scss';
@import '../../../../../assets/scss/variable.scss';

.filter-heading-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0 1rem 0;
  &__text {
    font-size: 1.125rem;
    color: $purple;
  }
  &__image {
    height: 1.5rem;
    > img {
      height: 100%;
      &:hover {
        background-color: $gainsboro;
        border-radius: 50%;
      }
    }
  }
}
