.image-carousel {
  .carousel-root {
    .carousel {
      &.carousel-slider {
        margin-top: 1rem;
      }
      .thumb {
        opacity: 0.6;
        transition: none;
        margin-right: 0px;
        &:hover {
          border: none;
        }
        &:focus {
          border: none;
        }
        &.selected {
          border: none;
          opacity: 1;
        }
      }
      .slider-wrapper {
        width: 50%;
        min-height: 60px;
        justify-content: center;
        .slide {
          background: none;
        }
        ul {
          padding-inline-start: 0px;
        }
      }
      button:focus {
        outline: none;
      }
      ul {
        padding-inline-start: 19px;
      }
    }
  }
}
