@import '../../../../assets/scss/variable.scss';
@import '../../../../assets/scss/mixin.scss';

.time-input-wrapper {
  label {
    font-size: 0.8rem;
    color: $label;
    margin: 10px;
  }

  input {
    width: 75px !important;
    border: 1px solid $gray-2;
    font-size: 1rem;
    padding: 10px 14px;
    color: $input-text-2;
    border-radius: 2px;
    &:focus {
      outline: none;
    }
  }
}
