@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variable.scss';

.logout {
  height: 100vh;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  .page-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 0;
    .actions{
      margin: .5rem;
      width: 490px;
      display: flex;
      flex-wrap: wrap;
      .message{
        font-size: 2.5rem;
        color: $purple;
        margin-bottom: 2rem;
      }
      .link{
        padding: 0.5rem 1rem;
        background-color: $purple;
        border-radius: 5px;
        cursor: pointer;
        .btn-link {
          font-size: 1.5rem;
          color: $white;
        }
        a:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
    .image-wrapper{
      width: 445px;
      margin: .5rem;
      img{
        width: 100%;
      }
    }
  }
}

@media (max-width: 970px) {
  .logout {
    .page-body{
      .actions{
        width: 320px;
        .message{
          font-size: 1.5rem;
        }
        .link{
          .btn-link {
            font-size: 1rem;
          }
        }
      }
      .image-wrapper{
        width: 320px;
      }
    }
  }
}

@media (max-width: 375px) {
  .logout {
    .page-body{
      .actions{
        margin: 1rem;
        width: 100%;
      }
      .image-wrapper{
        width: 100%;
        margin: 1.5rem;
      }
    }
  }
}