@import '../../../../assets/scss/mixin.scss';
@import '../../../../assets/scss/variable.scss';

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9001;
  top: 68px;
  left: 0;
  background: $black-shade;
  border-top: 1px solid lightgrey;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  a:hover,
  a:focus {
    color: $white2;
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .grid-filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
    width: 1024px;
    padding-left: .5rem;
  }
  .grid-filter-container {
    // overflow: auto;
    background: $white;
    position: relative;
    width: 100%;
    max-height: 70vh;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    // overflow: auto;
    .coustom-select {
      .css-2o5izw {
        color: $label-black;
        border: 1px solid;
        border-color: $gainsboro !important;
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
      background: #f5f5f5;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 50px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset0 0 6px rgba(0, 0, 0, 0.3);
      background: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background: $calender-green;
    }
    .grid-filter {
      float: left;
      margin: .5rem 0;
      padding-right: .5rem;
      text-decoration: none;
      color: #818181;
      transition: 0.3s;
      width: 25%;
      min-width: 240px;
      .dropdown-menu {
        overflow: auto;
        max-height: 15rem;
      }
      .inputBoxDiv {
        height: 2.5rem;
      }
      .check-box {
        position: relative;
        display: flex;
        margin-bottom: 5px;
      }
      .date-range-picker-wrapper {
        img {
          position: absolute;
          margin-left: 20px;
          margin-top: 10px;
        }
        .date-range-input {
          font-size: 14px;
          width: 100%;
          text-align: left;
        }
      }
      &.unique-login-date-filter {
        min-width: 342px;
      }
    }
  }
  .fields-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .custom-checkbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    transform: rotate(55deg);
  }
  .checkbox-label {
    color: $black;
    display: flex;
  }

  .column-name {
    font-size: 0.75rem;
    display: flex;
    color: $raven-gray;
    min-height: 1.25rem;
    @include fontWeightBold;
  }

  .date-range-picker-wrapper {
    width: 100%;
  }

  .date-range-picker-wrapper
    .calendar
    .react-bootstrap-daterangepicker-container
    .date-range-input {
    outline: none;
  }

  .filter-btn {
    letter-spacing: 1px;
    outline: none !important;
    cursor: pointer;
    margin: 0px 8px 12px 8px;
    height: 36px;
    width: 92px;
    font-size: 14px;
    //font-weight: 600;
    background: $white;
    color: $calender-green;
    border: 1px solid $calender-green;
    border-radius: 4px;
  }

  .filter-footer-container {
    width: 100%;
    .filter-action-container {
      display: flex;
      justify-content: center;
      .button-box {
        margin: .5rem;
        &:first-child{
          margin-left: 0;
        }
        button {
          margin: 0;
          min-height: 42px;
          @include fontWeightRegular;
        }
      }
    }
  }

  .filter-apply-btn {
    background: $calender-green;
    color: $white;
    margin-bottom: 0;
  }
  .mar-b0 {
    margin-bottom: 0;
  }

  .filter-subheading {
    display: inline-block;
    font-size: smaller;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    font-style: italic;
  }

  .input-filter {
    .form-input {
      &__page-property-block {
        padding: 0;
      }
    }
    input {
      width: 100%;
      border: 1px solid $gainsboro;
      border-radius: 4px;
      padding: 0.5rem;
      max-height: 2.5rem;
      @include fontWeightRegular;
      font-size: 0.875rem;
      &::placeholder {
        @include fontWeightRegular;
        font-size: 0.875rem;
      }
    }
  }
  .select-input-wrapper {
    float: left;
    width: 100%;
    input {
      @include fontWeightRegular;
      font-size: 0.875rem;
    }
  }
  .enhanced-slider {
    min-width: 17rem;
  }
  .custom-slider {
    padding: 0px;
    min-height: 3.25rem;
  }

  .custom-slider .rangeslider {
    margin-left: -14px;
  }
  .dropdown-item {
    padding: 0.25rem 0.7rem;
  }
}
.overlay .custom-slider {
  padding-left: 0.5rem;
}
.custom-date-range-picker {
  z-index: 9003;
}
.overlay .enhanced-slider .multiselect-react .coustom-select .css-1rtrksz {
  align-items: flex-start;
  color: $calender-green;
  min-height: 36px !important;
  line-height: 1.5;
}
.overlay
  .enhanced-slider
  .multiselect-react
  .coustom-select
  .css-1rtrksz::before {
  display: none !important;
}
.overlay .enhanced-slider .multiselect-react .coustom-select .css-1aya2g8 {
  min-height: 36px !important;
  border-radius: 4px;
}
.overlay .enhanced-slider .multiselect-react .coustom-select .css-xwjg1b {
  background-color: #f4f9f2;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
  width: 78px;
}
.overlay .enhanced-slider .multiselect-react .coustom-select .css-2o5izw {
  box-shadow: 0 0 0;
  border-radius: 4px;
  border-color: $calender-green !important;
}
.overlay
  .enhanced-slider
  .multiselect-react
  .coustom-select
  .css-xwjg1b
  .css-1alnv5e {
  margin-left: -3.4rem !important;
}
.overlay .enhanced-slider .multiselect-react .css-1ep9fjw {
  color: $calender-green !important;
}
.overlay .enhanced-slider .multiselect-react .coustom-select .css-10odw4q {
  color: $calender-green;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.61px;
  margin: 0 18px 0 10px;
  padding: 3px 0 4px 0;
  width: 90px;
}
.overlay
  .enhanced-slider
  .multiselect-react
  .coustom-select
  .css-15k3avv
  .css-11unzgr {
  max-height: 30vh;
}
.overlay
  .grid-filter-wrapper
  .grid-filter
  .checkbox-root
  .MuiCheckbox-colorSecondary.Mui-checked {
  color: $calender-green !important;
}
.overlay
  .grid-filter-wrapper
  .grid-filter
  .checkbox-root
  .MuiCheckbox-colorSecondary:hover {
  background-color: transparent !important;
}
.overlay
  .grid-filter-wrapper
  .grid-filter
  .checkbox-root
  .MuiCheckbox-colorSecondary
  .MuiTouchRipple-root {
  top: -0.5rem;
  left: -0.7rem;
  right: 0rem;
  bottom: -0.5rem;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 14px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (max-width: 992px) {
  .overlay {
    .grid-filter-container {
      .grid-filter {
        width: 33.33%;
        .dropdown-menu {
          overflow: auto;
          max-height: 15rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .overlay {
    .grid-filter-container {
      .grid-filter {
        width: 50%;
        .dropdown-menu {
          overflow: auto;
          max-height: 15rem;
        }
      }
    }
  }
  .unique-login{
    .overlay {
      .grid-filter-container {
        .grid-filter {
          width: 100%;
          &.unique-login-date-filter {
            min-width: 100%;
          }
          .dropdown-menu {
            overflow: auto;
            max-height: 15rem;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .overlay {
    .grid-filter-container {
      overflow: auto;
      .grid-filter {
        width: 100%;
        .dropdown-menu {
          overflow: auto;
          max-height: 15rem;
        }
      }
    }
  }
}