@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/variable.scss';

.table-root {
  .head {
    padding: 10px 8px 5px !important;
    @include fontWeightBold;
    font-size: 12px;
    color: $table-header-gray;
    white-space: nowrap;
  }

  .MuiTableCell-head .sorting-labels {
    color: rgba(0, 0, 0, 0.87) !important;
    @include fontWeightBold;
    opacity: 1;
  }

  .root-row {
    height: 48px;
  }

  .link-click:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .checkbox-container {
    padding: 0 !important;
    padding-right: 10px !important;
    margin-top: -2px !important;
  }
  
  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableHead-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiCheckbox-colorSecondary.Mui-checked {
    color: #248700 !important;
  }
  
  
  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableHead-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiIconButton-colorSecondary:hover {
    background-color: transparent !important;
  }

  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableHead-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiIconButton-root:hover {
    background-color: transparent !important;
  }

  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiCheckbox-colorSecondary.Mui-checked {
    color: #248700 !important;
  }
  
  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiIconButton-colorSecondary:hover {
    background-color: transparent !important;
  }

  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiIconButton-root:hover {
    background-color: transparent !important;
  }

  /* .MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px #F7F7F8,
                0px 1px 1px 0px #F7F7F8,
                0px 1px 3px 0px #F7F7F8 !important;
} */

  .link-click {
    // font-family: 'HelveticaNeue-Md' !important;
    @include fontWeightBold;
  }

  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root
    a {
    color: $label-black;
    // font-family: 'HelveticaNeue-Md' !important;
    @include fontWeightBold;
  }

  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableHead-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiIconButton-root
    .MuiTouchRipple-root {
    top: -0.5rem;
    left: -0.5rem;
    right: 0.1rem;
    bottom: -0.5rem;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }

  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root
    .MuiIconButton-root
    .MuiTouchRipple-root {
    top: -0.5rem;
    left: -0.5rem;
    right: 0.1rem;
    bottom: -0.5rem;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }
  .MuiPaper-root
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root
    .text-cell {
    display: inline;
  }

  // .MuiPaper-root
  //   .MuiTableContainer-root
  //   .MuiTable-root
  //   .MuiTableBody-root
  //   .MuiTableRow-root
  //   .MuiTableCell-root
  //   .MuiIconButton-root
  //   .MuiIconButton-label
  //   .chevron {
  //   padding-right: 0.7rem;
  //   margin-left: 0.3rem;
  // }

  button:focus {
    outline: none;
  }

  .clock-icon {
    padding-right: 0.25rem;
  }

  .MuiTableContainer-root {
    .MuiTableContainer-root {
      max-height: none;
    }
  }
  .disabled {
    pointer-events: auto;
  }
  .action-container {
    display: flex;
    align-items: center;
  }
  .text-capitalize {
    text-transform: capitalize;
  }
}
