@import '../../../assets/scss/mixin.scss';

@mixin resetLabel {
  padding-right: 0;
  width: 100%;
  text-align: start;
  align-self: unset;
  margin-bottom: 4px;
}

.auth-form {
  background-image: url(../../../assets/images/Login_page_image.png);
  @include auth-background;
  @include vertical-align;

  &__inner {
    @include login-box;
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__body {
    &--small {
      text-align: center;
      margin-bottom: 16px;
    }

    .form-input {
      &__page-property-block {
        display: block;
        padding: 0;
        margin-bottom: 16px;
      }
      &__label-field {
        @include resetLabel;
      }
    }
  }

  &__footer {
    .form-input {
      &__label-field {
        @include resetLabel;
        label {
          text-decoration: underline;
          cursor: pointer;
        }

        &--grey {
          color: $label;
        }

        &--green {
          color: $btn-base;
        }
      }
    }
    .button-box {
      &__button {
        width: 100%;
        margin: 0;
      }
    }
  }
}
